.bottomSection {
  margin-top: auto;
  padding: 16px;
  text-align: center;
  min-width: 270px; /* Set to sidebar width to prevent layout change */
}
  
.feedbackHelp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
  
.feedbackButton,
.helpButton {
  background: none;
  border: none;
  color: var(--primary-text-color);
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
}
  
.feedbackButton:hover,
.helpButton:hover {
  text-decoration: underline;
}
  
.legalLinks {
  display: flex;
  justify-content: space-between;
}
  
.termsLink,
.privacyLink {
  color: var(--primary-text-color);
  font-size: 12px;
  cursor: pointer;
}
  
.termsLink:hover,
.privacyLink:hover {
  text-decoration: underline;
}