.overall {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  position: relative;
  padding: 0px 20px;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overall > p {
  margin-right: 10px;
}

.overall:hover {
  /* transform: scale(1.012); */
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
  outline-offset: -5px;
}
