.overall,
.overallAlt {
  transition: 0.2s ease;
  cursor: default;
  display: flex;
  align-items: center;
}

.overall {
  border-radius: 50px;
  padding: 0.2rem 0.5rem;
  border: 1px solid black;
}

.dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50px;
  margin-right: 5px;
}
.statusText {
  font-size: 0.8rem;
}

.overallAlt {
  display: none;
}
