.overall {
  --min-width: 270px;
  --spacing-norm: 20px;
  --spacing-alt: 10px;
  display: static;
  left: 0;
  min-width: var(--min-width);
  max-width: var(--min-width);
  width: var(--min-width);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.2s ease;
  user-select: none;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 20px var(--spacing-norm) 0px var(--spacing-norm);
  justify-content: space-between;
  align-items: flex-start;
}

.logoImage {
  width: 100%;
  height: 70px;
  object-fit: cover;
}
.logoImage:hover {
  cursor: pointer;
  /* transform: scale(1.012); */
}

.mostRight {
  display: flex;
  margin-top: 10px;
}

.newChatWrapper {
  padding: 0px var(--spacing-norm);
  margin: 30px 0px;
  min-width: var(--min-width);
}

.navLink,
.linkButton,
.navLinkIndent {
  opacity: 0.8;
  transition: 0.2s ease;
  padding: 10px var(--spacing-norm);
  border-radius: 5px;
}

.navLink,
.navLinkIndent {
  border-radius: 0px;
}

.navLinkNoIndent,
.navLinkIndent {
  transition: 0.2s ease;
}

.navLinkIndent {
  padding-left: calc((var(--spacing-norm) * 2.5));
}

.navLinkNoIndent {
  padding-left: var(--spacing-norm);
  padding-top: 10px;
  padding-bottom: 10px;
}

.navLink:hover,
.linkButton:hover,
.navLinkIndent:hover,
.navLinkNoIndent:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.15);
  /* transform: scale(1.012); */
}

.bottom {
  margin-top: 50px;
  padding: 0px var(--spacing-norm);
}

.bottomTextTitle {
  min-width: var(--min-width);
}

.proDescription {
  margin: 5px 0px;
  min-width: calc(var(--min-width) - (var(--min-width) * 0.2));
}
.linkButton {
  background-color: rgba(128, 128, 128, 0.15);
}

.socialIcons {
  margin-bottom: var(--spacing-norm);
  display: flex;
  justify-content: space-between;
  padding: 0px var(--spacing-norm);
}

.moreInfo {
  text-align: right;
}

.collapseButton {
  position: absolute;
  left: calc(var(--min-width) + 5px);
  top: 50%;
  bottom: 50%;
  z-index: 5;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 50px;
}

.collapseButton:hover {
  cursor: pointer;
}

.top {
  padding-top: var(--spacing-norm);
}

@media screen and (max-width: 600px) {
  .collapseButton {
    display: none;
  }
}

.feedbackLink {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.feedbackLink a {
  color: inherit; 
  text-decoration: none;
}